<script setup>
import { ref, computed } from "vue";
import Task from "./Task.vue";
import DB from "../DB";

const tasks = ref(DB.getTasks());
const newTaskContent = ref("");

const addTask = () => {
  tasks.value.push({
    id: Date.now(),
    content: newTaskContent.value,
    completed: false,
  });
  DB.saveTasks();
  newTaskContent.value = ""; 
};
const editTask = (id, editContent) => {
  tasks.value[tasks.value.findIndex(task => task.id === id)].content = editContent;
  tasks.value[tasks.value.findIndex(task => task.id === id)].completed = false;
  DB.saveTasks();
  editContent = ""; 
};

const deleteOneById = (id) => {
  tasks.value.splice(
    tasks.value.findIndex((task) => task.id == id),
    1
  );
  DB.saveTasks();
};
const notCompletedCount = computed(() => {
  return tasks.value.filter(task => !task.completed).length;
});
</script>

<template>
  <section class="todoapp">
    <header class="header">
      <h1>todos</h1>
      <input
        class="new-todo"
        placeholder="What needs to be done?"
        autofocus
        v-model="newTaskContent"
        @keyup.enter="addTask"
      />
    </header>
    <section class="main">
      <input id="toggle-all" class="toggle-all" type="checkbox" />
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
        <task
          v-for="task in tasks"
          :key="task.id"
          :task="task"
          @delete="deleteOneById"
          @edit="editTask"
        />
      </ul>
    </section>
    <footer class="footer">
      <strong><span class="todo-count">{{ notCompletedCount }} item(s) left</span></strong>
      <ul class="filters">
        <li>
          <a href="#/" class="selected">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>
      <button class="clear-completed">Clear completed</button>
    </footer>
  </section>
  <footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Created by <a href="http://twitter.com/oscargodson">Oscar Godson</a></p>
    <p>
      Refactored by <a href="https://github.com/cburgmer">Christoph Burgmer</a>
    </p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>
</template>

<style scoped>
 button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  :focus {
  outline: 0;
  }
  
  .hidden {
  display: none;
  }
  
  .todoapp {
  background: #fff;
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
  
  .todoapp input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
  }
  
  .todoapp input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
  }
  
  .todoapp input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
  }
  
  .todoapp h1 {
  position: absolute;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  }
  
  .new-todo,
  .edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  .new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
  }
  
  .main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
  }
  
  .toggle-all {
  width: 1px;
  height: 1px;
  border: none; /* Mobile Safari */
  opacity: 0;
  position: absolute;
  right: 100%;
  bottom: 100%;
  }
  
  .toggle-all + label {
  width: 60px;
  height: 34px;
  font-size: 0;
  position: absolute;
  top: -52px;
  left: -13px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  }
  
  .toggle-all + label:before {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
  }
  
  .toggle-all:checked + label:before {
  color: #737373;
  }
  
  .todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  }
  
  .footer {
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  }
  
  .footer:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
              0 8px 0 -3px #f6f6f6,
              0 9px 1px -3px rgba(0, 0, 0, 0.2),
              0 16px 0 -6px #f6f6f6,
              0 17px 2px -6px rgba(0, 0, 0, 0.2);
  }
  
  .todo-count {
  float: left;
  text-align: left;
  }
  
  .todo-count strong {
  font-weight: 300;
  }
  
  .filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  }
  
  .filters li {
  display: inline;
  }
  
  .filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  }
  
  .filters li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
  }
  
  .filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
  }
  
  .clear-completed,
  html .clear-completed:active {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
  }
  
  .clear-completed:hover {
  text-decoration: underline;
  }
  
  .info {
  margin: 65px auto 0;
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  }
  
  .info p {
  line-height: 1;
  }
  
  .info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  }
  
  .info a:hover {
  text-decoration: underline;
  }
  
  /*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox
  */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
  .toggle-all,
  .todo-list li .toggle {
    background: none;
  }
  
  .todo-list li .toggle {
    height: 40px;
  }
  }
  
  @media (max-width: 430px) {
  .footer {
    height: 50px;
  }
  
  .filters {
    bottom: 10px;
  }
  }
  
</style>
